body{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
h1{
    float:left;
    background-color: rgba(0, 92, 230, 0.63);
    width: 25%;
    height: 730px;
    margin-right: 4%;
    text-align: center;
    padding-top: 20px;
}
#right{
    float: left ;
    padding-top: 20px;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    display: inline-block;
    width: 70px;
}
#lxfs{
    display: inline-block;
    width: 140px;
}
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}